<form method="post" action="/almacenar" enctype="multipart/form-data">
    Nombre:
    <input type="text" name="txtNombre" id="txtNombre">
    <br>
    Telefono:
    <input type="text" name="txtTelefono" id="txtTelefono">
    <br>
    Correo:
    <input type="text" name="txtCorreo" id="txtCorreo">
    <br>
    Cedula:
    <input type="text" name="txtCedula" id="txtCedula">
    <br>
    Fecha de Nacimiento:
    <input type="text" name="txtFechadeNacimiento" id="txtFechadeNacimiento">
    <br>
    <input type="submit" value="Agregar">
</form>